.edit-image-container {
  display: flex;
  margin: 2% 15%;
  flex-direction: column;
  align-items: center;
}

#edit-image-title {
  padding: 15px 20px 0px 20px;
}

.edit-image-form {
  margin: 2% 15%;
}

#button-update {
  margin: 15px 0px 7px 10px;
  width: 200px;
  align-self: center;
}

#button-cancel-update {
  margin: 15px 0px 7px 10px;
  width: 200px;
  align-self: center;
}

#upload-image {
  border: none;
}

input[type="file"] {
  display: none;
}

#file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    margin: 15px 0px 7px 10px;
    width: 200px;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border-width: 0;
    background-color: rgb(193, 193, 197);
}

#file-upload:hover {
  font-weight: 500;
  background-image: linear-gradient(to right, #df3308, #e45800, #e87500, #ea9000, #eba912);
  cursor: pointer;
}

.footer-position {
  position: fixed;
  bottom: 0;
  width: 100%;
}
