.comment-container {
  padding: 5px 2% 4px 2%;
}

.add-comment-container {
  padding: 1% 2%;
}

.trash-can {
  width: 30px;
  height: auto;
  padding: 5px;
  margin: 1px;
}

.single-comment-container {
  display: flex;
}

.trash-can > img {
  width: 15px;
  height: auto;
}

#single-comment {
  padding-top: 3px;
  margin-right: 11px
}

#commenting-user {
  padding: 3px 8px 0px 8px;
}
