#image-image {
  width: 95%;
  height: auto;
  margin: 2% 2% 0 2%;
}

#image-title {
  font-size: 30px;
  padding: 1% 2%;
}

#image-description {
  padding: 1% 2%;
}

#image-edit-button {
  margin: 1% 2%;
}

.image-details-end {
  margin-left: 3%;
}

#add-comment-button {
  margin-bottom: 25px;
}

#username {
  font-size: 20px;
  padding: 1% 2%;
}
