.image-image-container {
  margin: 4% 3% 0 3%;
  display: flex;
  justify-content: center;
}

#image-image {
  width: 1200px;
  height: 900px;
  object-fit: contain;
}

.title-and-poster {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.add-to-album {
  padding: 0 2%;
}

#image-title {
  font-size: 30px;
  padding: 1% 2%;
}

#image-description {
  padding: 1% 2%;
}

#image-edit-button {
  margin: 1% 2%;
}

.image-details-end {
  margin: 1% 8% 0 4%;
}

#add-comment-button {
  margin-bottom: 25px;
}

#username {
  font-size: 18px;
  padding: 1% 2%;
}

.add-image-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.album-id-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
