.image-image-container {
  margin: 4% 3% 0 3%;
  display: flex;
  justify-content: center;
}

#image-image {
  width: 1200px;
  height: 1000px;
  object-fit: contain;
}

.title-and-poster {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#image-title {
  font-size: 30px;
  padding: 1% 2%;
}

#image-description {
  padding: 1% 2%;
}

#image-edit-button {
  margin: 1% 2%;
}

.image-details-end {
  margin: 1% 8% 0 4%;
}

#add-comment-button {
  margin-bottom: 25px;
}

#username {
  font-size: 18px;
  padding: 1% 2%;
}
