* {
  margin: 0
}

.footer {
  list-style: none;
  background-color: rgb(193, 193, 197);
  padding: 2%;
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-items > a {
  font-size: 1.2em;
  text-decoration: none;
}

.footer-items > p {
  color: black;
  font-size: 1.1em;
}

#linkedIn {
  width: 23px;
  height: auto;
  padding-left: 7px;
  padding-right: 7px;
}

#GitHub {
  width: 25px;
  height: auto;
  padding-left: 7px;
  padding-right: 7px;
}

#established {
  padding-right: 3%;
}

#stack-items {
  padding-left: 7px;
  padding-right: 7px;
}
