html {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  border-width: 0;
  background-color: rgb(193, 193, 197);
}

button:hover {
  font-weight: 500;
  background-image: linear-gradient(to right, #df3308, #e45800, #e87500, #ea9000, #eba912);
  cursor: pointer;
}

input {
  font-family: 'Poppins', sans-serif;
  border: 1px solid;
  border-radius: 10px;
}

input:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 4px black;
}

textarea {
  font-family: 'Poppins', sans-serif;
  border: 1px solid;
  border-radius: 10px;
}

textarea:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 3px black;
}

.errorList {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.4);
  padding: 15px 35px;
  margin: 25px 25px 25px 45px;
  border-radius: 10px;
 text-align: left;
}

.form-box {
  padding: 4px 3%;
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 0px 10px;
}

.footer-position {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.label {
  padding: 5px 0px 0px 0px;
}
