.splash-container {
  margin: 5% 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#splash-images {
  /* max-height: 400px;
  max-width: 400px; */
  width: 100%;
  height: 100%;
  padding: 3px;
}

.back-to-top-container {
 display: flex;
 justify-content: center;
 margin-top: -40px;
 margin-bottom: 35px;
}

.welcome {
  font-family: 'Bebas Neue', cursive;
  color: white;
  background-image: url("../../images/Marin.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 800px;
}

#welcome-title {
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 65px;
  padding: 2% 10%;
}

#welcome-blurb {
  position: relative;
  text-align: center;
  font-size: 35px;
  top: 15%;
  padding: 2% 10%;
}
