* {
  margin: 0
}

.nav-bar {
  list-style: none;
  background-color: rgb(51, 127, 175);
  padding: 2%;
}

.nav-bar-items {
  display: flex;
  justify-content: space-between;
}

.nav-bar-items > a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

#framed {
  font-size: 2.2em;
  font-family: 'Bebas Neue', cursive;
}
